@media (max-width: 799px) and (min-width: 250px){

body{
		background-image: url("mobile.jpg");
		background-size: cover;
		background-repeat: 100%;
		background-attachment: fixed;
		text-align: center;
		color: white;
	} 
}
@media (max-width: 1550px) and (min-width: 800px)
		{
    		body
				{
					background-image: url("browser.jpg");
					background-repeat: no-repeat;
					background-size: 100%; 
					background-attachment: fixed;
					text-align: center;
					color: white;
				}
		}
/*p {
	color: white;
}*/
h1 {
    background-color: purple;
}
h3 {
    background-color: green;
}
head{
	text-align: center;
}
table {
	text-align: center;
}
.tbl1 {
	padding-left: 45%;

}

ul li a{
	text-decoration: none;
}
ul {
	list-style: none;
}
img {max-width:50%} 
img {max-height:40%} 






